body {
    padding: 0px;
    margin: 0px;
    background-color: #fafafa;
}

h1 {
    font-family: Quicksand;
    font-weight: 500;
}

h4 {
    font-family: Quicksand;
}

p {
    font-family: Quicksand;
}

ul{
    text-align: right;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

.header {
    
}

footer {
    text-align: center;
    align-content: center;
    margin: 30px auto;
}

.arvinName {
    color: #333333;
    text-decoration: none;
    font-family: Reenie Beanie;
    font-size: 24px;
    padding: 15px;
    text-decoration: none;
    margin: 10px;
}

.siteTitle {
    width: 50%;
    font-family: Reenie Beanie;
    font-size: 24px;
    padding: 15px;
    text-decoration: none;
    float: left;
    animation: moveFromTop 0.5s ease-in-out;
}

.arvinTag {
    color: #333333;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

.topNav {
    position: relative;
    float: right;
    padding: 15px;
    margin: 0;
    animation: moveFromLeft 1.25s ease-out;
}

.bottomNav {
    position: relative;
    padding: 15px;
    margin: 0;
}

.navLink {
    text-decoration: none;
    color: #00695C;
    font-family: Quicksand;
    font-weight: 300;
    margin-bottom: 20px;
    background-image: linear-gradient(180deg,transparent 90%,#ebeced 0);
}

.navLink:hover {
    background-image: linear-gradient(180deg,transparent 60%,#e0e0e0 0);
    color: #000;
    cursor: pointer;
}

.genericLink {
    text-decoration: none;
    color: #00695C;
    font-family: Quicksand;
    font-weight: 300;
    margin-bottom: 20px;
    background-image: linear-gradient(180deg,transparent 90%,#ebeced 0);
}

.genericLink:hover {
    background-image: linear-gradient(180deg,transparent 60%,#e0e0e0 0);
    color: #000;
    cursor: pointer;
}

.footerLink {
    text-decoration: none;
    color: #00695C;
    font-family: Quicksand;
    font-weight: 300;
    margin: 20px;
    background-image: linear-gradient(180deg,transparent 90%,#ebeced 0);
}

.footerLink:hover {
    background-image: linear-gradient(180deg,transparent 60%,#e0e0e0 0);
    color: #000;
    cursor: pointer;
}

/*.heroImage2 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
}*/

.heroImage {
    margin: 0px 15px 15px 15px;
    animation: moveFromBottom 1s ease-in-out;
}

.centralContent {
    max-width: 1000px;
    margin: 100px auto 0 auto;
    padding: 15px;
}

.centralContentBio {
    max-width: 1000px;
    margin: 100px auto 100px auto;
    padding: 30px;
    border-top: 4px dotted #ebeced;
    border-bottom: 4px dotted #ebeced;
    border-radius: 8px;
}

.box {
    width: 100%;
    height: 50px;
    background-color: #ebeced;
}

.mainImg {
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
    border: 1px solid #fff;
}

.mainImgTitle {
    margin: 5px 0 5px 0;
}

.mainImgDescription {
    margin: 5px 0;
    font-weight: 300;
    font-size: 14px;
    color: #4F4F4F;
}

.homepageGallery {
    max-width: 1200px;
    margin: 150px auto;
    height: 500px;
}

.gallery {
    display: flex;
    height: 100%;
}

.galleryItem {
    width: 33%;
    height: 200px;
    padding: 30px;
}

.galleryImg {
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    border: 2px solid #fff;
}

.galleryImg:hover {
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
    cursor: pointer;
}

.galleryParent {
}

.galleryChild {
    padding: 15px;
}

.galleryHeadline {
    margin-left: 15px;
}

.galleryTitle {
    font-family: Quicksand;
    font-weight: 500;
    margin: 0;
}

.galleryLink {
    padding-left: 30px;
    text-decoration: none;
    color: #00695C;
    font-family: Quicksand;
    font-weight: 300;
}

.galleryLink:hover {
    text-decoration: underline;
}

.profileContent {
    display: flex;
    height: 100%;
    background-color: #fafafa;
    border-radius: 20px;
    border: 4px dotted #ebeced;
}

.profileImg {
    margin: 0 20px 0 0 ;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.profileDescription {
    width: 66%;
    padding: 40px;
}

.profileBioTitle {
    font-family: Reenie Beanie;
    font-size: 36px;
    margin: 20px auto;
}

.profileBio {
    margin: 5px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.contactButton {
    padding: 10px 20px;
    text-decoration: none;
    color: #00695C;
    font-family: Quicksand;
    font-weight: 400;
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.25);
}

.bottomNav {
    float: right;
    padding: 30px 30px;
}

.mySignature {
    text-align: center;
    margin: 0;
    font-style: italic;
    font-size: 12px;
    padding: 10px;
    color: #828282;
    background-color: #ebeced;
}

/* On screens that are 600px wide or more, top-nav displays flex */
@media screen and (min-width: 600px) {
  .siteTitle {
    width: 20%;
    padding: 30px;
  }

  .topNav {
    display: flex;
    padding: 30px;
  }

  .navLink {
    text-decoration: none;
    color: #00695C;
    font-family: Quicksand;
    font-weight: 300;
    margin: 0 0 0 40px;
  }

  li {
    list-style-type: none;
    margin-bottom: 0px;
  }

  .heroImage {
    margin: 0px 30px 30px 30px;
  }

  .mainImg {
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
    border: 2px solid #fff;
  }

  .galleryParent {
    display: flex;
  }

  .galleryChild {
    padding: 15px;
    width: 33%;
  }

  .centralContent {
    margin: 150px auto 0 auto;
  }

  .centralContentBio {
    max-width: 1000px;
    margin: 150px auto 150px auto;
    padding: 30px;
    display: flex;
  }

  .profileImg {
    margin: 0 30px 0 0 ;
    width: 150px;
    height: 150px;
  }
}

@keyframes moveFromTop {
    0% { transform: translateY(-500px); }
    80% { transform: translateY(10px); }
    100% { transform: translateY(0px); }
}

@keyframes moveFromBottom {
    0% { transform: translateY(2000px); opacity: 0%; }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0px); opacity: 100%; }
}

@keyframes moveFromLeft {
    0% { transform: translateX(1000px); opacity: 0%; }
    100% { transform: translateX(0px); opacity: 100%; }
}